<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


<footer class="bg-gray-800 text-white mt-8" th:fragment="footer">
    <div class="container mx-auto px-4 py-4 flex flex-col items-center space-y-4">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M5 3a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H5Zm0 12a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H5Zm12 0a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2Zm0-12a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-2Z" fill="#ffc107" />
                <path fill-rule="evenodd" d="M10 6.5a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2h-2a1 1 0 0 1-1-1ZM10 18a1 1 0 0 1 1-1h2a1 1 0 1 1 0 2h-2a1 1 0 0 1-1-1Zm-4-4a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1Zm12 0a1 1 0 0 1-1-1v-2a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1Z" clip-rule="evenodd" fill="#38b2ac" />
            </svg>
        </div>
        <ul class="flex space-x-4">
            <li><a href="#" class="hover:text-gray-400">Privacy Policy</a></li>
            <li><a href="#" class="hover:text-gray-400">Terms of Service</a></li>
            <li><a href="#" class="hover:text-gray-400">Contact Us</a></li>
        </ul>
        <div class="text-gray-400">© 2024 User Viewer</div>
    </div>
</footer>





</body>

</html>
