<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">

<header th:replace="fragments/navbar :: navbar"></header>

<div class="flex-grow container mx-auto">

    <center><h1 class="text-3xl font-bold my-10">List Of Users</h1></center>

    <form th:action="@{/users/search}" method="get" class="flex items-center justify-center mb-4">
        <input type="text" name="keyword" placeholder="Search by Name or Email..." class="px-3 py-2 border rounded-md w-1/3 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Search</button>
    </form>


    <center>
    <table class="table-auto w-2/3">
        <thead class="bg-gray-800 text-white">
        <tr>
            <th class="px-4 py-2">Id</th>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Age</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td class="border px-4 py-2" th:text="${user.id}"></td>
            <td class="border px-4 py-2" th:text="${user.name}"></td>
            <td class="border px-4 py-2" th:text="${user.age}"></td>
            <td class="border px-4 py-2" th:text="${user.email}"></td>
            <td class="border px-4 py-2">
                <a th:href="@{/users/edit/{id}(id=${user.id})}" class="bg-green-500 hover:bg-green-700 text-white px-4 py-2 rounded mr-2">Edit</a>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </center>

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
